/* 3 selectors - tag name, class name, id */
/* tag name */
h4 {
    color: rgb(76, 0, 255);
    background-color: rgb(212, 148, 222);
    font-size: 35px;
    }
/* id name */
#txt {
    color: rgb(110, 110, 110);
    background-color: yellow;
    height: 50px;
    width: 200px;
    }
/* class name */
.box {
    height: 300px;
    width: 400px;
    background-color: rgb(116, 173, 69);
    /* border-width: 2px;
    border-color: black;
    border-style: solid; */
    border: 15px double black;
    /* display: block; */
    }