.box {
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

img {
    height: 150px;
    width: 150px;
    position: sticky;
    left: 10px;
    top: 20px;
    bottom: 0;
}

p {
    position: relative;
    top: 35px;
    color: rgb(180, 78, 9);
}