* {
    margin: 0px;
}
.header {
    height: 60px;
    background-color: rgb(34, 34, 34);
}
header {
    width: 100%;
    position: fixed;
    z-index: 10;
}
.logo {
    height: 100%;
    width: 6%;
    float: left;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 73, 73);
}
.heading {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    color: rgb(255, 212, 212);
    float: left;
}
.log {
    height: 100%;
    width: 64%;
    display: flex;
    justify-content: right;
    align-items: center;
}
#search {
    height: 50%;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
#src {
    border-radius: 10px;
    padding: 5px 20px;
}
#login {
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 10px;
    background-color: rgb(197, 197, 197);
}
#login:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}
hr {
    border: 2px solid rgb(76, 76, 76);
}


.manu {
    height: 30px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
#manu {
    color: rgb(255, 118, 118);
    text-decoration-line: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 0 30px;
    background-color: rgba(50, 50, 50, 0);
    border-radius: 5px;
}
#manu:hover {
    color: rgb(210, 200, 193);
    transform: scale(1.1);
    transition-duration: 0.3s;
}
#manu:active,
#login:active {
    background-color: rgb(255, 77, 77);
}
.main {
    height: 900px;
    background-image: url("../30Galary/webpage-background-color.jpg");
    background-size: cover;
}
.content p {
    position: absolute;
    top: 130px;
    color: black;

}


footer {
    height: 350px;
    background-color: rgb(32, 32, 32);
}
.footer1 {
    height: 220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
    justify-items: center;
}
.footer2 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    color: rgb(114, 114, 114);
}
.f1, .f2, .f3, .f4 {
    color: rgb(210, 210, 210);
    text-decoration: none;
    display: block;
    padding-top: 5px;
}
.f1:hover,
.f2:hover,
.f3:hover,
.f4:hover {
    color: rgb(54, 178, 255);
}
.f1:active,
.f2:active,
.f3:active,
.f4:active {
    color: rgb(255, 112, 112);
}
.foot1,
.foot2,
.foot3,
.foot4 {
    padding: 20px 50px;
    margin: 15px 0;
}
.foot1:hover,
.foot2:hover,
.foot3:hover,
.foot4:hover {
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    transform: scale(1.03);
    transition-duration: 0.3s;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.02);
}
.foot5 i {
    color: white;
    font-size: 30px;
    margin: 12px;
    opacity: 0.6;
}
.foot5 i:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    opacity: 1;
}

@media only screen and (max-width:800px) {
    .logo {
        font-size: 30px;
        margin-left: 10px;
    }
    .heading {
        width: 44%;
        float: none;
        font-size: 12px;
        margin-left: 50px;
    }
    .log {
        width: 100%;
        background-color: rgb(34, 34, 34);
    }
    #src{
        padding: 5px 15px;
    }
    #login{
        font-size: 12px;
        padding: 5px 10px;
    }
    .manu {
        height: 80px;
    }
    #manu{
        margin: 30px 0 10px;
        padding: 20px 20px 0;
        font-size: 18px;
    }
    #manu:hover{
        transform: scale(1.05);
    }
    #manu:active{
        background: none;
    }
    footer {
        height: 570px;
    }
    .footer1 {
        height: 440px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px;
        justify-items: center;
    }
    .foot5 i {
        font-size: 25px;
        margin: 8px;
    }
    h3, .f1, .f2, .f3, .f4 {
        font-size: 14px;
    }
}