*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    margin: 10px;
}